img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
#photolist.ui-grid-c {
    max-width: 650px;
    padding: 0;
    margin: 0 auto;
}

#photolist .ui-block-a,
#photolist .ui-block-b,
#photolist .ui-block-c,
#photolist .ui-block-d {
    width: 23%;
    margin: 1%;
}

#photolist img {
    width: 100%;
    float: left;
    border-radius: 3px;
}

#showphoto {
    background-color: white;
}

#showphoto .ui-content {
    width: 100%;
    padding: 0;
}

#showphoto {
    width: 100%;
}
